<h1>M4 Testing</h1>

<div class="box">
  <p>Foo.bar.frodus:<b><%= Foo.bar.frodus %></b></p>
  <p><%= link_to  "Make a change to bar.yml and reload ...", "/home/reload", :class => "btn" %></p>
</div>

